TopSpotsAPI/node_modules/
TopSpotsAPI/bower_components/
TopSpotsAPI/bin/
TopSpotsAPI/packages/
TopSpotsAngular/node_modules/
TopSpotsAngular/bower_components/
TopSpotsAngular/bin/
TopSpotsAngular/packages/